@model IEnumerable<Online_Shoping.Models.CartManagment>
@{
    ViewBag.Title = "MyCart";
    var CartItems = ViewBag.Items;
    var First = Model.FirstOrDefault();
    var TotalMP = Convert.ToDouble(TempData["TotalMarketPrice"]);
    var TotalP = Convert.ToDouble(TempData["TotalPrice"]);
    var Discount = TotalMP - TotalP;
}



<h3 id="price-heading">
    Price Details
</h3>
<div class="price-cont">
    <div class="price-element">
        <div>
            Price(@Model.Sum(a => a.Quantity) items)
        </div>
        <div>
            ₹@TotalMP.ToString("0.00")
        </div>
    </div>
    <div class="price-element">
        <div>Discount </div>
        <div id="discount-price">- ₹@Discount.ToString("0.00")</div>
    </div>
    <div class="price-element">
        <div>Offers </div>
        <div class="offer">@TempData["NoOfOffers"] Offers applyed</div>
    </div>
    <div class="price-element amount-border">
        <h5>TOTAL AMOUNT</h5> <h5>₹ @TotalP.ToString("0.00")</h5>
    </div>
    <div class="amount-border">
        <b id="save">You will Save ₹@Discount.ToString("0.00") On This Order</b>
    </div>
</div>