@*@model Online_Shoping.Models.CartManagment
    @{

    }

    <div>
        @Model.Quantity
    </div>*@


@model Online_Shoping.Models.CartManagment

<div class="quantity" id="quantity-@Model.P_Id">@Model.Quantity</div>
